<div class="container">
    <div class="jumbotron">
        <h1>Burgers Express</h1>
        <h3>The greatest resource in the galaxy for Burger statistics!</h3>
        <hr>
        <a href="/" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-eye-open"></span> Search Burgers</a>
        <a href="/" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-th-list"></span> All Burgers</a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Add Burgers</strong></h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" role="form">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                        <br>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span class="glyphicon glyphicon-fire"></span> Add this Burger</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
$("#add-btn").click(function(event) {
    event.preventDefault();

    var nameInput = $("#name").val().trim();
    var postObject = {
        name: nameInput
    };
    console.log(nameInput);

    $.post("/api/add", postObject)
        // on success, run this callback
        .done(function(data) {
            // log the data we found
            console.log(data);
            // tell the user we're adding a character with an alert window
            alert("Adding burger...");
        });

    $("#name").val("");
});
</script>